<app-modal [title]="title"
           (showModal)="closeModal()">
    <main>
        <div class="days-of-the-week">
            @for(day of daysOfTheWeekNames; track day){
            <label [ngClass]="{'checked': workdays[$index]}">
                {{ day | slice:0:3 }}
                <input type="checkbox"
                       [ngModel]="workdays[$index]"
                       (ngModelChange)="workdays[$index] = !workdays[$index]">
            </label>
            }
        </div>
    </main>
    <footer>
        <button class="send"
                (click)="setWorkdays()">
            Save
        </button>
    </footer>
</app-modal>
