<div class="toolbar-container">
    <div class="select-workdays">
        <button class="configure-workdays"
                (click)="openSelectWorkdays()">Set workdays</button>
    </div>
    <label class="canton-label">
        <select class="canton-select"
                [(ngModel)]="selectedCanton"
                (ngModelChange)="emitSelectedCanton($event)">
            @for(canton of cantonList; track canton.kanCode){
            <option [ngValue]="canton">{{canton.kanName}}</option>
            }
        </select>
    </label>
    <div class="select-date">
        <label class="date-selector">
            <input type="date"
                   [ngModel]="selectedDate | date:'yyyy-MM-dd'"
                   (ngModelChange)="updateDates($event)">
        </label>
    </div>
    <div class="days-to-show">
        @for(ammount of ammountOfDays; track ammount){
        <label class="radio-buttons"
               [ngClass]="{'checked': daysToShow === ammount}">
            {{ammount}}
            <input type="radio"
                   [value]="ammount"
                   (click)="setNumberOfDaysToShow(ammount)" />
        </label>
        }
    </div>
</div>
