@import "../../assets/styles/colors";

.calendar-days-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 5rem);
    flex-wrap: wrap;
    background-color: $white;

    app-calendar-day {
        display: flex;
        flex-direction: row;
        width: calc(100% / 7);
        height: auto;

        &.single {
            width: 100%;
        }
    }
}
