<app-toolbar (numberOfDaysToShow)="setSelectedDays($event)"
             (cantonToShow)="setSelectedCanton($event)"
             (calendarType)="setCalendarType($event)" />

<div class="calendar-days-container">
    @for (dayToShow of selectedDays; track dayToShow.day) {
    <app-calendar-day [ngClass]="{'single': selectedDays.length === 1}"
                      [dayToShow]="dayToShow"
                      [calendarType]="calendarType"
                      [selectedCanton]="selectedCanton" />
    }
</div>
