@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";

.modal {
    display: flex;
    position: fixed;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background-color: $transparent-gray;
    top: 0;
    color: $blue;

    &-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        background-color: $beige;
        filter: brightness(1.1);
        border-radius: 0.5rem;
        border: 1px solid $blue;
        margin: auto;
        padding: 1rem;
        font-size: 1.2rem;
        justify-content: space-between;

        .title-bar {
            width: 100%;

            h2 {
                text-transform: uppercase;
                text-align: center;
            }

            .close {
                position: absolute;
                right: 1rem;
                top: 1rem;
                height: auto;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    text-shadow: 0px 0px 1px $blue;
                }

                &:active {
                    text-shadow: none;
                }
            }
        }

        &-main {
            height: 100%;
        }

        &-footer {
            display: flex;
            justify-content: flex-end;
            padding: 0 1rem;
        }

        @include xs {
            width: 95%;
            height: 80%;
        }

        @include sm {
            width: 95%;
            height: 80%;
        }
    }
}
