@import "./assets/styles/colors";
@import "./assets/styles/mixins";
@import "material-icons/iconfont/material-icons.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    font-family: serif;

    button {
        border: 1px solid $blue;
        display: flex;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        background-color: $beige;
        filter: brightness(1.1);
        font-size: 1.2rem;
        height: 3rem;
        padding: 0 1rem;

        &:not(.transparent) {
            &:hover {
                font-weight: bold;
                box-shadow: 2px 2px 0 $blue;
            }
        }
    }
}
