$media_queries: (
    "mobile":
        unquote(
            $string: "only screen and (max-width: 667px)"
        ),
    "tablet":
        unquote(
            $string: "only screen and (min-width: 668px) and (max-width: 1024)"
        ),
    "desktop":
        unquote(
            $string: "only screen and (min-width: 1025)"
        )
);
